<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingcheng.mapper.OrderLogMapper" >
  <resultMap id="BaseResultMap" type="com.qingcheng.pojo.OrderLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="operater" property="operater" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="CHAR" />
    <result column="pay_status" property="payStatus" jdbcType="CHAR" />
    <result column="consign_status" property="consignStatus" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operater, operate_time, order_id, order_status, pay_status, consign_status, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qingcheng.pojo.OrderLog" >
    insert into tb_order_log (id, operater, operate_time, 
      order_id, order_status, pay_status, 
      consign_status, remarks)
    values (#{id,jdbcType=VARCHAR}, #{operater,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{orderId,jdbcType=VARCHAR}, #{orderStatus,jdbcType=CHAR}, #{payStatus,jdbcType=CHAR}, 
      #{consignStatus,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingcheng.pojo.OrderLog" >
    insert into tb_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operater != null" >
        operater,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="consignStatus != null" >
        consign_status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operater != null" >
        #{operater,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="consignStatus != null" >
        #{consignStatus,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingcheng.pojo.OrderLog" >
    update tb_order_log
    <set >
      <if test="operater != null" >
        operater = #{operater,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=CHAR},
      </if>
      <if test="consignStatus != null" >
        consign_status = #{consignStatus,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingcheng.pojo.OrderLog" >
    update tb_order_log
    set operater = #{operater,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=CHAR},
      pay_status = #{payStatus,jdbcType=CHAR},
      consign_status = #{consignStatus,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>